<section>
  <ul *ngIf="carShowList">
    <li *ngFor="let carShow of carShowList">
      <div  *ngIf="carShow.name">
        <h2>{{ carShow.name }}</h2>
        <h3>Cars Attending</h3>
        <ul *ngIf="carShow.cars">
          <li *ngFor="let car of carShow.cars" class="car">
            <h3>{{ car.make }}</h3>
            <h5>{{ car.model }}</h5>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>